.input {
	&__label {
		color: $color__neutral--vdc;
		font-weight: 700;
		display: block;
		margin-bottom: 0.5rem;
	}

	&__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $color__neutral--lgc2;
		border-radius: $br-small;
		padding: 0.5rem 1.25rem;
	}

	&__number {
		color: $color__neutral--vdc;
		background-color: transparent;
		width: 90%;
		display: block;
		text-align: right;
		border: none;
		font-size: $font-size__input;
		font-weight: 700;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-moz-appearance: textfield;
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
