.input {
	&__label {
		color: $color__neutral--vdc;
		font-weight: 700;
		display: block;
		margin-bottom: 0.5rem;

		&--people {
			display: flex;
			justify-content: space-between;
		}
	}

	&__error {
		color: $color__error;
		display: none;

		&--active {
			display: inline;
		}
	}

	&__field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $color__neutral--lgc2;
		border: 2px solid $color__neutral--lgc2;
		border-radius: $br-small;
		padding: 0.5rem 1.25rem;
		transition: border-color 0.2s ease-out;

		&--active {
			border-color: $color__primary;
		}

		&--error {
			border-color: $color__error;
		}
	}

	&__number {
		cursor: pointer;
		color: $color__neutral--vdc;
		background-color: transparent;
		width: 99%;
		display: block;
		text-align: right;
		border: none;
		font-size: $font-size__input;
		font-weight: 700;

		&:focus {
			outline: none;
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-moz-appearance: textfield;
			-webkit-appearance: none;
			margin: 0;
		}
	}
}
