.content {
	background-color: $color__white;
	padding: 1.5rem;
	padding-bottom: 2.5rem;
	border-radius: $br-large $br-large;
	max-width: $max-width__content--tablet;
	margin: 0 auto;
	margin-bottom: 4rem;

	&__section {
		&--inputs {
			padding: 0.5rem;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin-bottom: 1.75rem;
		}

		&--results {
			color: $color__primary;
			background-color: $color__neutral--vdc;
			padding: 2.5rem 1.5rem 1.5rem 1.5rem;
			border-radius: $br-medium;
		}
	}
}

@media (min-width: $viewport-width__desktop) {
	.content {
		max-width: $max-width__content--desktop;
		margin: 0 auto;
		padding: 2rem;
		display: flex;
		justify-content: space-between;
		gap: 3rem;
		border-radius: $br-large;

		&__section {
			flex: 1;

			&--inputs {
				display: flex;
				flex-direction: column;
				padding: 1rem;
				margin-bottom: 0;
			}

			&--results {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 3.5rem 2.5rem 2.5rem 2.5rem;
			}
		}
	}
}
