* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: $font-family;
}

body {
	background-color: $color__neutral--lgc1;
}

@media (min-width: $viewport-width__desktop) {
	body {
		display: flex;
		height: 100vh;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
	}
}
